# ide files
.idea/*

# temp files
__pycache__/
config.ini
.pytest_cache
experiments/time_series_forecaster/

# data files
data/*
!.keep
*.csv
!watchlist_df.csv
**/output/**
**/import_csv/**


**/log/*

# compiled files
*.pyc

# settings files
.env
.vscode/*

# models
*.h5
*/structured_data_regressor/*
